.card-container {
  border: 1px solid #555;
  border-radius: 8px;
  overflow: hidden;
  background-color: #A3D8D2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  width: 80%;
  max-width: 800px;
  height: auto;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card-container:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.card-image {
  width: 30%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  width: 50%;
}

.card-title {
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
}

.card-text {
  margin: 0.5em 0 0 0;
  font-size: 1em;
  color: #555;
}

.card-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  width: 20%;
}

mat-form-field {
  width: 100%;
}

/* Responsividade */
@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    width: 90%;
    max-width: none;
  }

  .card-image {
    width: 100%;
    height: 200px;
    border-radius: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .card-content, .card-input {
    width: 100%;
    padding: 8px;
  }
}