<div class="container">
    <div class="form-field">
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input [(ngModel)]="username" matInput>
        </mat-form-field>
        <mat-form-field *ngIf="mode=='register'" appearance="outline">
            <mat-label>Email</mat-label>
            <input [(ngModel)]="email" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input [(ngModel)]="password" matInput type="password">
        </mat-form-field>
        <button (click)="submitHandler()" mat-raised-button color="primary">{{submit}}</button>
    </div>
</div>
